/* ======================================================
   📐 ESTRUCTURA PRINCIPAL DEL DASHBOARD
====================================================== */
.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 320px 1fr;
  grid-template-rows: 125px 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Sidebar, header y main ocupan su grid-area */
.dashboard-sidebar {
  grid-area: sidebar;
}

.dashboard-header {
  grid-area: header;
}

.dashboard-main {
  grid-area: main;
  position: relative; /* Para que la grilla se ubique dentro */
  background-color: #fff;
  overflow: hidden; /* Evita que la grilla se salga */
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 145px);
  padding: 20px;
}
