/* =========== LINK ATOMS =========== */
.link {
  color: var(--white-color);
  text-decoration: none;
  transition: all var(--transition-normal);
}

.link:hover {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}